@charset "UTF-8";

@import "vendor/normalize";

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/*---------------------------------
* Common styling
-----------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  // font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

img {
  max-width: 100%;
}

.section {
  padding: 90px 0;
  position: relative;
}

.dashboard-section {
  padding: 50px 0;
  position: relative;
}

@media (max-width: 991px) {
  .section {
    padding: 60px 0;
  }
  .dashboard-section {
  padding: 30px 0;
}
}

@media (max-width: 767px) {
  .section {
    padding: 40px 0;
  }
  .dashboard-section {
  padding: 20px 0;
}
}

.gray-bg-1 {
  background: #fbf6ff;
}

.gray-bg-2 {
  background: #fff6f6;
}

/*---------------------------------
*  Home Banner
-----------------------------------*/

header {
  background-color: rgb(34, 34, 34);
  font-size: 16px;
  color: rgb(238, 238, 238);
}

.navlink {
  font-family: Poppins;
  color: rgb(247, 247, 247);
  text-decoration: none;
}

.home-text {
  color: #fff;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-fixed {
  background-attachment: fixed;
}

.full-screen {
  min-height: 100vh;
}

.home-banner-01 .home-text {
  margin: 70px 0 0;
}

.home-banner-01 .container {
  position: relative;
  z-index: 1;
}

.home-banner-01 h1 {
  // color: #fff;
  font-size: 90px;
  font-weight: 700;
  margin: 0 0 20px;
  line-height: 90px;
}

.home-banner-01 h2 {
  // color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 87px;
}

.home-banner-01 p {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 40px;
}

@media (max-width: 991px) {
  .home-banner-01 h1 {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 10px;
  }

  .home-banner-01 h2 {
    font-size: 45px;
    line-height: 65px;
    margin: 0 0 13px;
  }
}

/*---------------------------------
*  Section title
-----------------------------------*/
.section-title {
  position: relative;
  margin-bottom: 55px;
}

.section-title h2 {
  font-weight: 700;
  color: #292929;
  font-size: 36px;
  margin: 0;
  padding: 0 0 25px;
  letter-spacing: 1px;
}
.section-title label {
  position: relative;
  color: #292929;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0px 10px 30px;
}
.section-title label:after {
  position: absolute;
  left: 0;
  content: "";
  width: 20px;
  float: left;
  height: 2px;
  top: 10px;
}
.section-title p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 15px;
}

@media (max-width: 991px) {
  .section-title {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .section-title label {
    font-size: 12px;
    padding: 0 0px 10px 30px;
  }
  .section-title h2 {
    font-size: 26px;
  }
  .section-title label:after {
    top: 7px;
    width: 20px;
  }
  .section-title p {
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}

.section-title-01 {
  text-align: center;
  margin-bottom: 60px;
}
.section-title-01 span {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.section-title-01 h3 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin: 10px 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .section-title-01 {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .section-title-01 {
    margin-bottom: 40px;
  }
}

/*-----------------------------------------
*  About Us
-----------------------------------------*/

.about-img {
  min-height: 400px;
  height: 100%;
  background-position: top center;
}

.about-box {
  padding: 0 5%;
}
// .about-box .btn-bar {
//   margin-top: 35px;
// }
.about-project {
  margin-bottom: 25px;
}
.about-project h6 {
  color: #292929;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0px 0 10px;
  font-weight: 400;
}

.about-project h2 {
  color: #292929;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0 0 25px;
  font-weight: 700;
}
@media (max-width: 991px) {
  .about-box {
    padding: 40px 0 0;
  }
}
@media (max-width: 767px) {
  .about-project h6 {
    font-size: 13px;
  }
  .about-project h2 {
    margin: 0 0 20px;
    font-size: 22px;
  }
}

/*-----------------------------------------
*  Feature
-----------------------------------------*/
.feature-box {
  position: relative;
  padding-left: 70px;
  margin: 20px 0;
}

.feature-box .icon {
  font-size: 22px;
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  line-height: 50px;
  color: #fff;
  background: #292929;
}

.feature-box h5 {
  color: #292929;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 10px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.feature-box p {
  margin: 0;
}

/*feature-box-02*/

.feature-box-02 {
  padding: 35px 8%;
  position: relative;
  z-index: 1;
  background: #fff;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.2);
}

.feature-box-02 .icon {
  display: inline-block;
  vertical-align: top;
  font-size: 50px;
  color: #000;
  margin-bottom: 30px;
  background: #fff;
}

.feature-box-02 h5 {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  font-weight: 700;
}

.feature-box-02 p {
  margin: 0;
  line-height: 24px;
}

@media (max-width: 991px) {
  .feature-box-02 {
    margin: 15px 0;
  }
}

/*-----------------------------------------
*  Buttons
-----------------------------------------*/
.m-btn {
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-decoration: none !important;
}
.m-btn-white {
  color: #151515;
  background-color: #fff;
}

.m-btn-white:hover {
  color: #fff;
}

.m-btn-theme {
  color: #fff;
}

.m-btn-theme:hover {
  color: #fff;
  background: #151515;
}

.m-btn-h-white:hover {
  background: #fff;
  color: #333;
}

.more-btn {
  color: #151515;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  padding: 3px;
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-transition: ease all 0.4s;
  -moz-transition: ease all 0.4s;
  -o-transition: ease all 0.4s;
  transition: ease all 0.4s;
}
.more-btn i {
  position: absolute;
  right: 0;
  top: 5px;
  opacity: 0;
  -webkit-transition: ease all 0.4s;
  -moz-transition: ease all 0.4s;
  -o-transition: ease all 0.4s;
  transition: ease all 0.4s;
}
.more-btn:hover {
  color: #292929;
}
.more-btn:hover i {
  right: -20px;
  opacity: 1;
}

.m-btn-link {
  color: #111 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-decoration: none !important;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.m-btn-link:after {
  content: "";
  width: 100%;
  height: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.m-btn-link:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background: #444;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.m-btn-link:hover:after {
  width: 10px;
  left: -15px;
}

.m-btn-link:hover:before {
  width: 100%;
  transition-delay: 0.4s;
}

.m-btn-link-white {
  color: #fff !important;
}
.m-btn-link-white:before {
  background: #fff;
}

.social-icons {
  margin: 0;
  padding: 0;
}
.social-icons li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}
.social-icons li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #333;
  border-radius: 50%;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.social-icons li a:hover {
  background: #333;
  color: #fff;
}

/*-----------------------------------------
*  Contact Us
-----------------------------------------*/
.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.form-group .form-control {
  border: none;
  outline: none;
  box-shadow: none;
  height: 40px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  width: 100%;
  font-size: 14px;
  color: #000;
  background: none;
}

.form-group textarea.form-control {
  height: 100px;
}

.form-group select {
  border: none;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 2px solid #a09eb5;
  border-radius: 0;
  width: 100%;
}

.form-group .input-focus-effect {
  width: 0 !important;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
  height: 2px;
  background: #26a69a;
}

.form-group textarea:focus:not([readonly]) + span.input-focus-effect,
.form-group input:focus:not([readonly]) + span.input-focus-effect,
.form-group select:focus:not([readonly]) + span.input-focus-effect {
  width: 100% !important;
}

.contact-form {
  padding: 25px;
  border: 1px solid #e7e5f7;
  background: #fff;
}

.contact-form h2 {
  font-size: 18px;
  color: #292929;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-info {
  padding: 25px;
  margin-right: 25px;
  border: 1px solid #e7e5f7;
  height: 100%;
  background: #fff;
}
.ci-row {
  margin-bottom: 25px;
  position: relative;
  padding-left: 40px;
}
.ci-row:last-child {
  margin-bottom: 0;
}
.ci-row label {
  font-size: 14px;
  color: #666;
  letter-spacing: 0.5px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 5px;
}

.ci-row span {
  font-size: 15px;
  color: #292929;
  font-weight: 600;
}

.ci-row i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  left: -10px;
  top: 0;
  position: absolute;
  color: #fff;
}

@media (max-width: 991px) {
  .contact-info {
    margin: 0 0 40px;
    height: auto;
  }
}

#coloured,
#coloured a {
  color: #e2615b;
}

#contact_us_link a {
  color: #292929;
}

#contact_us_link a:hover,
#coloured a:hover {
  text-decoration: underline;
  text-decoration-color: #f14141;
}

/*-------------------------------
*  Social Icons and Footer
-------------------------------*/

.social-icons {
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.social-icons li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #333;
  border-radius: 50%;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.footer {
  background: #151515;
  padding: 60px 0;
  text-align: center;
}

.footer p {
  margin: 10px 0 0;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.68);
  font-weight: 300;
}

.footer p a {
  color: #fff;
  text-decoration: none;
}

.footer .footer-logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.footer .footer-logo span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.footer .footer-logo span span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  bottom: 11px;
  right: -8px;
  float: left;
  background: #fff;
}

.footer .social-icons {
  padding: 15px 0;
}

.footer .social-icons li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #a5a5a5;
}

@media (max-width: 991px) {
  .footer {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 30px 0;
  }
}

/*------------------------------------
*  Self-created styling
------------------------------------*/

#stack-text {
  font-style: normal;
  font-size: 23px;
  font-weight: 700;
}

.h7 {
  font-size: 14px;
  font-weight: 500;
}
.h7 span {
  color: #e8e8e8;
}

.loadingDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
