@charset "UTF-8";

@import 'vendor/normalize';

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*---------------------------------
* Common styling
-----------------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  // font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

img {
  max-width: 100%;
}

.section {
  padding: 90px 0;
  position: relative;
}
@media (max-width: 991px){
 .section {
    padding: 60px 0;
  } 
}
@media (max-width: 767px){
 .section {
    padding: 40px 0;
  } 
}

.gray-bg {
  background: #f7f6ff;
}

/*
*
*/

#coloured {
    color: #e2615b;
}

header {
    background-color: rgb(34, 34, 34);
    font-size: 16px;
    color: rgb(238, 238, 238);
}

.navlink {
    font-family: Poppins;
    color: rgb(247, 247, 247);
    text-decoration: none;
}

// #home {
//     background-image: url(../../public/assets/img/background.jpg);
// }

.home-text {
    color: #fff;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-fixed {
    background-attachment: fixed;
}

.full-screen {
    min-height: 100vh;
}

.home-banner-01 .home-text {
  margin: 70px 0 0;
}

.home-banner-01 .container {
  position: relative;
  z-index: 1;
}

.home-banner-01 h2{
  // color: #fff;
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 15px;
}

.home-banner-01 h1 {
  // color: #fff;
  font-size: 90px;
  font-weight: 600;
  text-align: left;
  margin: 0 0 20px;
  line-height: 90px;
}
.home-banner-01 p{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 40px;
}

@media(max-width: 991px){
  .home-banner-01 h4 {
    font-size: 16px;
  }
  .home-banner-01 h5 {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 10px;
  }
  .home-banner-01 p {
    font-size: 16px;
    margin: 0 0 25px;
  }
}

/*-----------------------------------------
*  About Us
-----------------------------------------*/

.about-img {
  min-height: 400px;
  height: 100%;
  background-position: top center;
}

.about-box {
  padding: 0 5%;
}
// .about-box .btn-bar {
//   margin-top: 35px;
// }
.about-project {
  margin-bottom: 25px;
}
.about-project h6 {
  color: #292929;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0px 0 10px;
  font-weight: 400;
}

.about-project h2 {
  color: #292929;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0 0 25px;
  font-weight: 700;
}
@media(max-width: 991px){
  .about-box {
    padding: 40px 0 0;
  }
}
@media(max-width: 767px) {
  .about-project h6 {
    font-size: 13px;
  }
  .about-project h2 {
    margin: 0 0 20px;
    font-size: 22px;
  }
}

/*-----------------------------------------
*  Feature
-----------------------------------------*/
.feature-box {
  position: relative;
  padding-left: 70px;
  margin: 20px 0;
}

.feature-box .icon {
  font-size: 22px;
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  line-height: 50px;
  color: #fff;
  background: #292929;
}

.feature-box h5 {
  color: #292929;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 10px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.feature-box p {
  margin: 0;
}

/*feature-box-02*/

.feature-box-02 {
  padding: 35px 8%;
  position: relative;
  z-index: 1;
  background: #fff;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.2);
}

.feature-box-02 .icon {
  display: inline-block;
  vertical-align: top;
  font-size: 50px;
  color: #000;
  margin-bottom: 30px;
  background: #fff;
}

.feature-box-02 h5 {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  font-weight: 700;
}

.feature-box-02 p {
  margin: 0;
  line-height: 24px;
}


@media (max-width: 991px){
  .feature-box-02 {
    margin:15px 0;
  }
}

/*-------------------------------
* Social Icons and Footer
-------------------------------*/

.social-icons {
    margin: 0;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

.social-icons li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #333;
    border-radius: 50%;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    transition: ease all 0.3s;
}

.footer {
  background: #151515;
  padding: 60px 0;
  text-align: center;
}

.footer p {
  margin: 10px 0 0;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.68);
  font-weight: 300;
}

.footer p a {
  color: #fff;
  text-decoration: none;
}

.footer .footer-logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.footer .footer-logo span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.footer .footer-logo span span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  bottom: 11px;
  right: -8px;
  float: left;
  background: #fff;
}

.footer .social-icons {
  padding: 15px 0;
}

.footer .social-icons li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #a5a5a5;
}

@media(max-width: 991px){
  .footer {
    padding: 50px 0;
  }
}
@media(max-width: 767px){
  .footer {
    padding: 30px 0;
  }
}

/*------------------------------------
*  Self-created styling
------------------------------------*/
#home {
    background-color: #151515;
}

#stack-text {
    font-style: normal;
    font-size: 23px;
    font-weight: 700;
}

.h7 {
    font-size: 14px;
    font-weight: 500;
}
.h7 span {
    color: #e8e8e8;
}

.loadingDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}